.group-list-header {
    margin: 20px 40px 20px 40px;
    padding: 20px 40px 20px 40px;
}

.group-list-header h1 {
    display: inline;
    width: 200px;
}

.group-list-header button {
    background-color: #ea5455;
    color: #f7f7f7;
    width: 120px;
    height: 40px;
    border: none;
    float: right;
}
